
#container{
    width: 2024px;
    height: 2024px;
    background-color: rgba(183, 225, 162, 0.884);
    margin-left: auto;
    margin-right: auto;
    
}
#cuadro{
    background-color: rgb(202, 207, 207);
}
#meses{
    background-color: rgb(255, 255, 255);
}
#dias{
    background-color: rgb(255, 255, 255);
}
#año{
    background-color: rgb(255, 255, 255);
}
#lugar{
    background-color: rgb(255, 255, 255);
}